.about-me-banner {
    background-color: #FCFBF4;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.subtitle {
    font-size: 24px;
    margin: 5px 0px 22px 0px;
    font-weight: lighter;
}

.buttons-container {
    margin: 15px 0px 40px 0px;
}

h1 {
    font-size: 88px;
    font-weight: 900;
}

p {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 2;
    font-weight: lighter;
}