.button-row {
  display: flex;
  align-items: center;
  justify-content: left;
}

.button-cell {
  margin: 0px 15px 0px 0px;
}

.resume-button {
  align-items: center;
  background-color: #f4830e;
  border: 2px solid;
  border-color: #f4830e;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.resume-button:hover { 
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.resume-button:active {
  background: #a7a7a7;
}

.projects-button {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: black;
  border-radius: 100px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.projects-button:hover { 
  background-color: #f4830e;
  color: #ffffff;
  border-color: #f4830e;
}

.projects-button:active {
  background: #b7650e;
  color: white;
  border-color: #b7650e;
}